body {
  background-color: #F5F5F5;
}

.inactive {
  display:none;
}
.active {
  display: block;
}
.image-frame {
  height:125px;
  display:block;
  vertical-align:middle;
  width:100%;
  text-align:center;
  margin-bottom:20px;
  margin-top:30px;
}
.image-frame img {
  display:table-cell;
  vertical-align: middle;
  height: auto;
  margin:0 auto;
}
/* Hero Image */
.container-hero {
  background-image: url('../img/hero.jpg');
  background-size: cover;
}

/* scale */
.badometer {
  background: #32e7ff;
  background: -moz-linear-gradient(left, #32e7ff 0%, #8c25c4 50%, #aa3b3b 100%);
  background: -webkit-linear-gradient(left, #32e7ff 0%,#8c25c4 50%,#aa3b3b 100%);
  background: linear-gradient(to right, #32e7ff 0%,#8c25c4 50%,#aa3b3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32e7ff', endColorstr='#aa3b3b',GradientType=1 );
  width: 80%;
  display:block;
  border-radius: 10px;
  height: 30px;
  margin: 0 auto 4.5em;
}
.badometer.meter-fullwidth {
  width: 100% !important;;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    padding-right: 5em;
    border-bottom: solid 3px;
    border-color: #f2f2f2;
    padding-bottom:1em;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.container-top{
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group{
  width:250px;
  text-align: center !important;
  display: inline-block;
  margin-top:2em;
}

.info-block {
  background-color: rgba(255,255,255,0.5);
  padding: 2em 4em;
  margin: 3em 0;
  max-width: 60%;
}

.btn {
  background-color: black;
  box-shadow: 2px 2px skyblue;
  border-radius: 0;
  margin-left: 20px;
  margin-bottom: 5px;
}

.btn a{
  color: skyblue;
}

.container-two{
  text-align:center;
}

.container-three h2{
  text-align:center;
}

.container-three .col-12 h3{
  //color:skyblue;
  margin-top: 20px;
}
/*
.container-three img {
    border-radius: 50%;
    width: 80%;
    height: 220px;
}
*/

.container-dark {
  background-color: #eee;
}